.nav__black {
  background-color: black;
}

.nav__content {
  display: flex;
  position: fixed;
  inset: 0;
  padding: 0 30px 0 30px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  transition: ease-in all 0.5s;
  z-index: 1;
}

.nav__logo {
  width: 80px;
  cursor: pointer;
}

.nav__avatar {
  width: 30px;
  cursor: pointer;
}
